body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin: 20px 0;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    font-size: 18px;
    color: #333;
}


.roots {
    margin: 20px 0;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    font-size: 18px;
    color: #333;
}

.roots h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.roots ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.roots li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.loader {
    width: 24px;
    height: 24px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

  .submit-btn:not(.loading) .loader{
    display: none;

  }

   .submit-btn.loading .text{
    display: none;
  }

  #graph {
    width: 800px; /* Увеличьте ширину */
    height: 600px; /* Увеличьте высоту */
}